In [1]:
import re

## re.match():
### 1. Case sensitive
### 2. This method finds match if it occurs at start of the string.

In [2]:
#re.match(pattern, string)
#using the provided pattern, it will result the matched string

regex_result = re.match("A", "AARTHI")
print("\n",regex_result)

 <_sre.SRE_Match object; span=(0, 1), match='A'>

In [6]:
regex_result1 = re.match(r"A", "AKSHAY")
print ('\nMatching string :',regex_result1.group(0))

Matching string : A

In [10]:
#Even though there is a match with lower case "a", but it is not in the first place of the string, it return None

result = re.match(r'a', 'AKSHAY KANNaN')
print ('\nResult :', result)

Result : None

In [8]:
result_matching = re.match(r'A', 'AKSHAY KANNAN')
print ('\nStarting position of the match :',result_matching.start())
print ('Ending position of the match :',result_matching.end())

Starting position of the match : 0
Ending position of the match : 1

## re.search()
### 1. is similar to match() but it doesn’t restrict us to find matches at the beginning of the string only. 
### 2.  search() method is able to find a pattern from any position of the string but it only returns the first occurrence of the search pattern.

In [11]:
result1 = re.search("A", "AKSHAY KANNAN")
print("\n",regex_result)

 <_sre.SRE_Match object; span=(0, 1), match='A'>

In [13]:
regex_result2 = re.search(r"A", "THARA")
print ('\nMatching string :',regex_result2.group(0))

Matching string : A

## re.findall()
### It helps to get a list of all matching patterns.
### It is also case sensitive

In [16]:
result3 = re.findall(r'A', 'AKSHAY KANNAN')
print(result3)

['A', 'A', 'A', 'A']

In [23]:
result4 = re.findall(r'temp', 'Temperature temple teeth')
print(result4)

['temp']

## re.split()
### This methods helps to split string by the occurrences of given pattern.
### split() also have another argument as maxsplit.

In [24]:
result5 = re.split(r'A','AKSHAY KANNAN')
result5

['', 'KSH', 'Y K', 'NN', 'N']

In [32]:
result6 = re.split(r"A","AKSHAY KANNAN",maxsplit=2)
result6

['', 'KSH', 'Y KANNAN']

In [33]:
result7 = re.split(r"A","AKSHAY KANNAN",maxsplit=1)
result7

['', 'KSHAY KANNAN']

In [34]:
result8 = re.split(r"A","AKSHAY KANNAN",maxsplit=3)
result8

['', 'KSH', 'Y K', 'NNAN']

## re.sub(pattern, repl, string):
### It helps to search a pattern and replace with a new sub string. If the pattern is not found, string is returned unchanged.

In [37]:
result9 = re.sub("_","@","aarthi_gmail.com")
result9

'aarthi@gmail.com'

In [39]:
result10 = re.sub("_","@","abisundargmail.com")
result10

'abisundargmail.com'

# Work out for Regular Expression

### Problem 1: Return the first word of a given string

In [41]:
### Solution-1  Extract each character (using “\w“)
#using "."

result=re.findall(r'.','AV is largest Analytics community of India')
print(result)

['A', 'V', ' ', 'i', 's', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', ' ', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', 'y', ' ', 'o', 'f', ' ', 'I', 'n', 'd', 'i', 'a']

In [43]:
#using \w

soln=re.findall(r'\w','AV is largest Analytics community of India')
print(soln)

['A', 'V', 'i', 's', 'l', 'a', 'r', 'g', 'e', 's', 't', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', 'y', 'o', 'f', 'I', 'n', 'd', 'i', 'a']

## Extract each word (using “*” or “+“)

In [44]:
result1 = re.findall(r'\w*','AV is largest Analytics community of India')
print(result1)

['AV', '', 'is', '', 'largest', '', 'Analytics', '', 'community', '', 'of', '', 'India', '']

In [45]:
result2 = re.findall(r'\w+','AV is largest Analytics community of India')
print(result2)

['AV', 'is', 'largest', 'Analytics', 'community', 'of', 'India']

## Extract each word (using “^“)

In [46]:
#To return the first word in a sentence

result3 = re.findall(r'^\w+','AV is largest Analytics community of India')
print(result3)

['AV']

In [48]:
#To return the last word in a sentence

result4 = re.findall(r'\w+$','AV is largest Analytics community of India')
print(result4)

['India']

## Problem 2: Return the first two character of each word

In [49]:
# Extract consecutive two characters of each word, excluding spaces (using “\w“)

result5 = re.findall(r'\w\w','AV is largest Analytics community of India')
print(result5)

['AV', 'is', 'la', 'rg', 'es', 'An', 'al', 'yt', 'ic', 'co', 'mm', 'un', 'it', 'of', 'In', 'di']

In [50]:
# Extract consecutive two characters those available at start of word boundary (using “\b“)

result6 = re.findall(r'\b\w.','AV is largest Analytics community of India')
print(result6)

['AV', 'is', 'la', 'An', 'co', 'of', 'In']

## Problem 3: Return date from given string

In [51]:
result7 = re.findall(r'\d{2}-\d{2}-\d{4}','Aarthi 14-12-1994, Abi 31-10-1997, AKSHAY KANNAN 30-04-2020')
print(result7)

['14-12-1994', '31-10-1997', '30-04-2020']

In [52]:
result8 = re.findall(r'\d{2}-\d{2}-\d{4}','Aarthi 1994-12-14, Abi 31-10-1997, AKSHAY KANNAN 30-04-2020')
print(result8)

['31-10-1997', '30-04-2020']

## Problem 4: Return all words of a string those starts with vowel

In [56]:
result9=re.findall(r'[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print(result9)

['AV', 'is', 'argest', 'Analytics', 'ommunity', 'of', 'India']

In [58]:
result10=re.findall(r'\b[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print(result10)

['AV', 'is', 'Analytics', 'of', 'India']

## Problem 5: Split a string with multiple delimiters

In [59]:
line = 'asdf fjdk;afed,fjek,asdf,foo'
result11 = re.sub(r'[;,\s]',' ', line)
print(result11)

asdf fjdk afed fjek asdf foo